# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.sh text
*.cpp text
*.cs text
*.go text
*.java text
*.js text
*.py text
*.r text
*.rb text
*.vb text
